/*
 All Minecraft 1.7.4 item icons. All textures are property of Mojang AB.
 Stitched by goncalomb <http://goncalomb.com>.
*/

[class^="mc-icon-"], [class*=" mc-icon-"] { display: inline-block; width: 32px; height: 32px; background-image: url("items-1.7.4.png"); background-repeat: no-repeat; }

.mc-icon-1-0 { background-position: -0px -32px; }
.mc-icon-2-0 { background-position: -32px -32px; }
.mc-icon-3-0 { background-position: -64px -32px; }
.mc-icon-3-1 { background-position: -96px -32px; }
.mc-icon-3-2 { background-position: -128px -32px; }
.mc-icon-4-0 { background-position: -160px -32px; }
.mc-icon-5-0 { background-position: -192px -32px; }
.mc-icon-5-1 { background-position: -224px -32px; }
.mc-icon-5-2 { background-position: -256px -32px; }
.mc-icon-5-3 { background-position: -288px -32px; }
.mc-icon-5-4 { background-position: -320px -32px; }
.mc-icon-5-5 { background-position: -352px -32px; }
.mc-icon-7-0 { background-position: -384px -32px; }
.mc-icon-12-0 { background-position: -416px -32px; }
.mc-icon-12-1 { background-position: -448px -32px; }
.mc-icon-13-0 { background-position: -480px -32px; }
.mc-icon-14-0 { background-position: -0px -64px; }
.mc-icon-15-0 { background-position: -32px -64px; }
.mc-icon-16-0 { background-position: -64px -64px; }
.mc-icon-17-0 { background-position: -96px -64px; }
.mc-icon-17-1 { background-position: -128px -64px; }
.mc-icon-17-2 { background-position: -160px -64px; }
.mc-icon-17-3 { background-position: -192px -64px; }
.mc-icon-18-0 { background-position: -224px -64px; }
.mc-icon-18-1 { background-position: -256px -64px; }
.mc-icon-18-2 { background-position: -288px -64px; }
.mc-icon-18-3 { background-position: -320px -64px; }
.mc-icon-19-0 { background-position: -352px -64px; }
.mc-icon-20-0 { background-position: -384px -64px; }
.mc-icon-21-0 { background-position: -416px -64px; }
.mc-icon-22-0 { background-position: -448px -64px; }
.mc-icon-23-0 { background-position: -480px -64px; }
.mc-icon-24-0 { background-position: -0px -96px; }
.mc-icon-24-1 { background-position: -32px -96px; }
.mc-icon-24-2 { background-position: -64px -96px; }
.mc-icon-25-0 { background-position: -96px -96px; }
.mc-icon-29-0 { background-position: -128px -96px; }
.mc-icon-33-0 { background-position: -160px -96px; }
.mc-icon-35-0 { background-position: -192px -96px; }
.mc-icon-35-1 { background-position: -224px -96px; }
.mc-icon-35-2 { background-position: -256px -96px; }
.mc-icon-35-3 { background-position: -288px -96px; }
.mc-icon-35-4 { background-position: -320px -96px; }
.mc-icon-35-5 { background-position: -352px -96px; }
.mc-icon-35-6 { background-position: -384px -96px; }
.mc-icon-35-7 { background-position: -416px -96px; }
.mc-icon-35-8 { background-position: -448px -96px; }
.mc-icon-35-9 { background-position: -480px -96px; }
.mc-icon-35-10 { background-position: -0px -128px; }
.mc-icon-35-11 { background-position: -32px -128px; }
.mc-icon-35-12 { background-position: -64px -128px; }
.mc-icon-35-13 { background-position: -96px -128px; }
.mc-icon-35-14 { background-position: -128px -128px; }
.mc-icon-35-15 { background-position: -160px -128px; }
.mc-icon-41-0 { background-position: -192px -128px; }
.mc-icon-42-0 { background-position: -224px -128px; }
.mc-icon-43-0 { background-position: -256px -128px; }
.mc-icon-43-1 { background-position: -288px -128px; }
.mc-icon-43-2 { background-position: -320px -128px; }
.mc-icon-43-3 { background-position: -352px -128px; }
.mc-icon-43-4 { background-position: -384px -128px; }
.mc-icon-43-5 { background-position: -416px -128px; }
.mc-icon-43-6 { background-position: -448px -128px; }
.mc-icon-43-7 { background-position: -480px -128px; }
.mc-icon-43-8 { background-position: -0px -160px; }
.mc-icon-43-9 { background-position: -32px -160px; }
.mc-icon-44-0 { background-position: -64px -160px; }
.mc-icon-44-1 { background-position: -96px -160px; }
.mc-icon-44-2 { background-position: -128px -160px; }
.mc-icon-44-3 { background-position: -160px -160px; }
.mc-icon-44-4 { background-position: -192px -160px; }
.mc-icon-44-5 { background-position: -224px -160px; }
.mc-icon-44-6 { background-position: -256px -160px; }
.mc-icon-44-7 { background-position: -288px -160px; }
.mc-icon-45-0 { background-position: -320px -160px; }
.mc-icon-46-0 { background-position: -352px -160px; }
.mc-icon-47-0 { background-position: -384px -160px; }
.mc-icon-48-0 { background-position: -416px -160px; }
.mc-icon-49-0 { background-position: -448px -160px; }
.mc-icon-52-0 { background-position: -480px -160px; }
.mc-icon-53-0 { background-position: -0px -192px; }
.mc-icon-54-0 { background-position: -32px -192px; }
.mc-icon-56-0 { background-position: -64px -192px; }
.mc-icon-57-0 { background-position: -96px -192px; }
.mc-icon-58-0 { background-position: -128px -192px; }
.mc-icon-60-0 { background-position: -160px -192px; }
.mc-icon-61-0 { background-position: -192px -192px; }
.mc-icon-62-0 { background-position: -224px -192px; }
.mc-icon-67-0 { background-position: -256px -192px; }
.mc-icon-70-0 { background-position: -288px -192px; }
.mc-icon-72-0 { background-position: -320px -192px; }
.mc-icon-73-0 { background-position: -352px -192px; }
.mc-icon-77-0 { background-position: -384px -192px; }
.mc-icon-78-0 { background-position: -416px -192px; }
.mc-icon-79-0 { background-position: -448px -192px; }
.mc-icon-80-0 { background-position: -480px -192px; }
.mc-icon-81-0 { background-position: -0px -224px; }
.mc-icon-82-0 { background-position: -32px -224px; }
.mc-icon-84-0 { background-position: -64px -224px; }
.mc-icon-85-0 { background-position: -96px -224px; }
.mc-icon-86-0 { background-position: -128px -224px; }
.mc-icon-87-0 { background-position: -160px -224px; }
.mc-icon-88-0 { background-position: -192px -224px; }
.mc-icon-89-0 { background-position: -224px -224px; }
.mc-icon-91-0 { background-position: -256px -224px; }
.mc-icon-95-0 { background-position: -288px -224px; }
.mc-icon-95-1 { background-position: -320px -224px; }
.mc-icon-95-2 { background-position: -352px -224px; }
.mc-icon-95-3 { background-position: -384px -224px; }
.mc-icon-95-4 { background-position: -416px -224px; }
.mc-icon-95-5 { background-position: -448px -224px; }
.mc-icon-95-6 { background-position: -480px -224px; }
.mc-icon-95-7 { background-position: -0px -256px; }
.mc-icon-95-8 { background-position: -32px -256px; }
.mc-icon-95-9 { background-position: -64px -256px; }
.mc-icon-95-10 { background-position: -96px -256px; }
.mc-icon-95-11 { background-position: -128px -256px; }
.mc-icon-95-12 { background-position: -160px -256px; }
.mc-icon-95-13 { background-position: -192px -256px; }
.mc-icon-95-14 { background-position: -224px -256px; }
.mc-icon-95-15 { background-position: -256px -256px; }
.mc-icon-96-0 { background-position: -288px -256px; }
.mc-icon-97-0 { background-position: -320px -256px; }
.mc-icon-97-1 { background-position: -352px -256px; }
.mc-icon-97-2 { background-position: -384px -256px; }
.mc-icon-97-3 { background-position: -416px -256px; }
.mc-icon-97-4 { background-position: -448px -256px; }
.mc-icon-97-5 { background-position: -480px -256px; }
.mc-icon-98-0 { background-position: -0px -288px; }
.mc-icon-98-1 { background-position: -32px -288px; }
.mc-icon-98-2 { background-position: -64px -288px; }
.mc-icon-98-3 { background-position: -96px -288px; }
.mc-icon-99-0 { background-position: -128px -288px; }
.mc-icon-100-0 { background-position: -160px -288px; }
.mc-icon-103-0 { background-position: -192px -288px; }
.mc-icon-107-0 { background-position: -224px -288px; }
.mc-icon-108-0 { background-position: -256px -288px; }
.mc-icon-109-0 { background-position: -288px -288px; }
.mc-icon-110-0 { background-position: -320px -288px; }
.mc-icon-112-0 { background-position: -352px -288px; }
.mc-icon-113-0 { background-position: -384px -288px; }
.mc-icon-114-0 { background-position: -416px -288px; }
.mc-icon-116-0 { background-position: -448px -288px; }
.mc-icon-120-0 { background-position: -480px -288px; }
.mc-icon-121-0 { background-position: -0px -320px; }
.mc-icon-122-0 { background-position: -32px -320px; }
.mc-icon-123-0 { background-position: -64px -320px; }
.mc-icon-125-0 { background-position: -96px -320px; }
.mc-icon-125-1 { background-position: -128px -320px; }
.mc-icon-125-2 { background-position: -160px -320px; }
.mc-icon-125-3 { background-position: -192px -320px; }
.mc-icon-125-4 { background-position: -224px -320px; }
.mc-icon-125-5 { background-position: -256px -320px; }
.mc-icon-126-0 { background-position: -288px -320px; }
.mc-icon-126-1 { background-position: -320px -320px; }
.mc-icon-126-2 { background-position: -352px -320px; }
.mc-icon-126-3 { background-position: -384px -320px; }
.mc-icon-126-4 { background-position: -416px -320px; }
.mc-icon-126-5 { background-position: -448px -320px; }
.mc-icon-128-0 { background-position: -480px -320px; }
.mc-icon-129-0 { background-position: -0px -352px; }
.mc-icon-130-0 { background-position: -32px -352px; }
.mc-icon-133-0 { background-position: -64px -352px; }
.mc-icon-134-0 { background-position: -96px -352px; }
.mc-icon-135-0 { background-position: -128px -352px; }
.mc-icon-136-0 { background-position: -160px -352px; }
.mc-icon-137-0 { background-position: -192px -352px; }
.mc-icon-138-0 { background-position: -224px -352px; }
.mc-icon-139-0 { background-position: -256px -352px; }
.mc-icon-139-1 { background-position: -288px -352px; }
.mc-icon-143-0 { background-position: -320px -352px; }
.mc-icon-145-0 { background-position: -352px -352px; }
.mc-icon-145-1 { background-position: -384px -352px; }
.mc-icon-145-2 { background-position: -416px -352px; }
.mc-icon-146-0 { background-position: -448px -352px; }
.mc-icon-147-0 { background-position: -480px -352px; }
.mc-icon-148-0 { background-position: -0px -384px; }
.mc-icon-151-0 { background-position: -32px -384px; }
.mc-icon-152-0 { background-position: -64px -384px; }
.mc-icon-153-0 { background-position: -96px -384px; }
.mc-icon-155-0 { background-position: -128px -384px; }
.mc-icon-155-1 { background-position: -160px -384px; }
.mc-icon-155-2 { background-position: -192px -384px; }
.mc-icon-155-3 { background-position: -224px -384px; }
.mc-icon-155-4 { background-position: -256px -384px; }
.mc-icon-156-0 { background-position: -288px -384px; }
.mc-icon-158-0 { background-position: -320px -384px; }
.mc-icon-159-0 { background-position: -352px -384px; }
.mc-icon-159-1 { background-position: -384px -384px; }
.mc-icon-159-2 { background-position: -416px -384px; }
.mc-icon-159-3 { background-position: -448px -384px; }
.mc-icon-159-4 { background-position: -480px -384px; }
.mc-icon-159-5 { background-position: -0px -416px; }
.mc-icon-159-6 { background-position: -32px -416px; }
.mc-icon-159-7 { background-position: -64px -416px; }
.mc-icon-159-8 { background-position: -96px -416px; }
.mc-icon-159-9 { background-position: -128px -416px; }
.mc-icon-159-10 { background-position: -160px -416px; }
.mc-icon-159-11 { background-position: -192px -416px; }
.mc-icon-159-12 { background-position: -224px -416px; }
.mc-icon-159-13 { background-position: -256px -416px; }
.mc-icon-159-14 { background-position: -288px -416px; }
.mc-icon-159-15 { background-position: -320px -416px; }
.mc-icon-161-0 { background-position: -352px -416px; }
.mc-icon-161-1 { background-position: -384px -416px; }
.mc-icon-162-0 { background-position: -416px -416px; }
.mc-icon-162-1 { background-position: -448px -416px; }
.mc-icon-163-0 { background-position: -480px -416px; }
.mc-icon-164-0 { background-position: -0px -448px; }
.mc-icon-170-0 { background-position: -32px -448px; }
.mc-icon-171-0 { background-position: -64px -448px; }
.mc-icon-171-1 { background-position: -96px -448px; }
.mc-icon-171-2 { background-position: -128px -448px; }
.mc-icon-171-3 { background-position: -160px -448px; }
.mc-icon-171-4 { background-position: -192px -448px; }
.mc-icon-171-5 { background-position: -224px -448px; }
.mc-icon-171-6 { background-position: -256px -448px; }
.mc-icon-171-7 { background-position: -288px -448px; }
.mc-icon-171-8 { background-position: -320px -448px; }
.mc-icon-171-9 { background-position: -352px -448px; }
.mc-icon-171-10 { background-position: -384px -448px; }
.mc-icon-171-11 { background-position: -416px -448px; }
.mc-icon-171-12 { background-position: -448px -448px; }
.mc-icon-171-13 { background-position: -480px -448px; }
.mc-icon-171-14 { background-position: -0px -480px; }
.mc-icon-171-15 { background-position: -32px -480px; }
.mc-icon-172-0 { background-position: -64px -480px; }
.mc-icon-173-0 { background-position: -96px -480px; }
.mc-icon-174-0 { background-position: -128px -480px; }

.mc-icon-154-0 { background-position: -0px -512px; }
.mc-icon-256-0 { background-position: -32px -512px; }
.mc-icon-257-0 { background-position: -64px -512px; }
.mc-icon-258-0 { background-position: -96px -512px; }
.mc-icon-259-0 { background-position: -128px -512px; }
.mc-icon-260-0 { background-position: -160px -512px; }
.mc-icon-261-0 { background-position: -192px -512px; }
.mc-icon-262-0 { background-position: -224px -512px; }
.mc-icon-263-0 { background-position: -256px -512px; }
.mc-icon-263-1 { background-position: -288px -512px; }
.mc-icon-264-0 { background-position: -320px -512px; }
.mc-icon-265-0 { background-position: -352px -512px; }
.mc-icon-266-0 { background-position: -384px -512px; }
.mc-icon-267-0 { background-position: -416px -512px; }
.mc-icon-268-0 { background-position: -448px -512px; }
.mc-icon-269-0 { background-position: -480px -512px; }
.mc-icon-270-0 { background-position: -0px -544px; }
.mc-icon-271-0 { background-position: -32px -544px; }
.mc-icon-272-0 { background-position: -64px -544px; }
.mc-icon-273-0 { background-position: -96px -544px; }
.mc-icon-274-0 { background-position: -128px -544px; }
.mc-icon-275-0 { background-position: -160px -544px; }
.mc-icon-276-0 { background-position: -192px -544px; }
.mc-icon-277-0 { background-position: -224px -544px; }
.mc-icon-278-0 { background-position: -256px -544px; }
.mc-icon-279-0 { background-position: -288px -544px; }
.mc-icon-280-0 { background-position: -320px -544px; }
.mc-icon-281-0 { background-position: -352px -544px; }
.mc-icon-282-0 { background-position: -384px -544px; }
.mc-icon-283-0 { background-position: -416px -544px; }
.mc-icon-284-0 { background-position: -448px -544px; }
.mc-icon-285-0 { background-position: -480px -544px; }
.mc-icon-286-0 { background-position: -0px -576px; }
.mc-icon-287-0 { background-position: -32px -576px; }
.mc-icon-288-0 { background-position: -64px -576px; }
.mc-icon-289-0 { background-position: -96px -576px; }
.mc-icon-290-0 { background-position: -128px -576px; }
.mc-icon-291-0 { background-position: -160px -576px; }
.mc-icon-292-0 { background-position: -192px -576px; }
.mc-icon-293-0 { background-position: -224px -576px; }
.mc-icon-294-0 { background-position: -256px -576px; }
.mc-icon-295-0 { background-position: -288px -576px; }
.mc-icon-296-0 { background-position: -320px -576px; }
.mc-icon-297-0 { background-position: -352px -576px; }
.mc-icon-302-0 { background-position: -384px -576px; }
.mc-icon-303-0 { background-position: -416px -576px; }
.mc-icon-304-0 { background-position: -448px -576px; }
.mc-icon-305-0 { background-position: -480px -576px; }
.mc-icon-306-0 { background-position: -0px -608px; }
.mc-icon-307-0 { background-position: -32px -608px; }
.mc-icon-308-0 { background-position: -64px -608px; }
.mc-icon-309-0 { background-position: -96px -608px; }
.mc-icon-310-0 { background-position: -128px -608px; }
.mc-icon-311-0 { background-position: -160px -608px; }
.mc-icon-312-0 { background-position: -192px -608px; }
.mc-icon-313-0 { background-position: -224px -608px; }
.mc-icon-314-0 { background-position: -256px -608px; }
.mc-icon-315-0 { background-position: -288px -608px; }
.mc-icon-316-0 { background-position: -320px -608px; }
.mc-icon-317-0 { background-position: -352px -608px; }
.mc-icon-318-0 { background-position: -384px -608px; }
.mc-icon-319-0 { background-position: -416px -608px; }
.mc-icon-320-0 { background-position: -448px -608px; }
.mc-icon-321-0 { background-position: -480px -608px; }
.mc-icon-322-0 { background-position: -0px -640px; }
.mc-icon-323-0 { background-position: -32px -640px; }
.mc-icon-324-0 { background-position: -64px -640px; }
.mc-icon-325-0 { background-position: -96px -640px; }
.mc-icon-326-0 { background-position: -128px -640px; }
.mc-icon-327-0 { background-position: -160px -640px; }
.mc-icon-328-0 { background-position: -192px -640px; }
.mc-icon-329-0 { background-position: -224px -640px; }
.mc-icon-330-0 { background-position: -256px -640px; }
.mc-icon-331-0 { background-position: -288px -640px; }
.mc-icon-332-0 { background-position: -320px -640px; }
.mc-icon-333-0 { background-position: -352px -640px; }
.mc-icon-334-0 { background-position: -384px -640px; }
.mc-icon-335-0 { background-position: -416px -640px; }
.mc-icon-336-0 { background-position: -448px -640px; }
.mc-icon-337-0 { background-position: -480px -640px; }
.mc-icon-338-0 { background-position: -0px -672px; }
.mc-icon-339-0 { background-position: -32px -672px; }
.mc-icon-340-0 { background-position: -64px -672px; }
.mc-icon-341-0 { background-position: -96px -672px; }
.mc-icon-342-0 { background-position: -128px -672px; }
.mc-icon-343-0 { background-position: -160px -672px; }
.mc-icon-344-0 { background-position: -192px -672px; }
.mc-icon-345-0 { background-position: -224px -672px; }
.mc-icon-346-0 { background-position: -256px -672px; }
.mc-icon-347-0 { background-position: -288px -672px; }
.mc-icon-348-0 { background-position: -320px -672px; }
.mc-icon-349-0 { background-position: -352px -672px; }
.mc-icon-349-1 { background-position: -384px -672px; }
.mc-icon-349-2 { background-position: -416px -672px; }
.mc-icon-349-3 { background-position: -448px -672px; }
.mc-icon-350-0 { background-position: -480px -672px; }
.mc-icon-350-1 { background-position: -0px -704px; }
.mc-icon-351-0 { background-position: -32px -704px; }
.mc-icon-351-1 { background-position: -64px -704px; }
.mc-icon-351-2 { background-position: -96px -704px; }
.mc-icon-351-3 { background-position: -128px -704px; }
.mc-icon-351-4 { background-position: -160px -704px; }
.mc-icon-351-5 { background-position: -192px -704px; }
.mc-icon-351-6 { background-position: -224px -704px; }
.mc-icon-351-7 { background-position: -256px -704px; }
.mc-icon-351-8 { background-position: -288px -704px; }
.mc-icon-351-9 { background-position: -320px -704px; }
.mc-icon-351-10 { background-position: -352px -704px; }
.mc-icon-351-11 { background-position: -384px -704px; }
.mc-icon-351-12 { background-position: -416px -704px; }
.mc-icon-351-13 { background-position: -448px -704px; }
.mc-icon-351-14 { background-position: -480px -704px; }
.mc-icon-351-15 { background-position: -0px -736px; }
.mc-icon-352-0 { background-position: -32px -736px; }
.mc-icon-353-0 { background-position: -64px -736px; }
.mc-icon-354-0 { background-position: -96px -736px; }
.mc-icon-355-0 { background-position: -128px -736px; }
.mc-icon-356-0 { background-position: -160px -736px; }
.mc-icon-357-0 { background-position: -192px -736px; }
.mc-icon-358-0 { background-position: -224px -736px; }
.mc-icon-359-0 { background-position: -256px -736px; }
.mc-icon-360-0 { background-position: -288px -736px; }
.mc-icon-361-0 { background-position: -320px -736px; }
.mc-icon-362-0 { background-position: -352px -736px; }
.mc-icon-363-0 { background-position: -384px -736px; }
.mc-icon-364-0 { background-position: -416px -736px; }
.mc-icon-365-0 { background-position: -448px -736px; }
.mc-icon-366-0 { background-position: -480px -736px; }
.mc-icon-367-0 { background-position: -0px -768px; }
.mc-icon-368-0 { background-position: -32px -768px; }
.mc-icon-369-0 { background-position: -64px -768px; }
.mc-icon-370-0 { background-position: -96px -768px; }
.mc-icon-371-0 { background-position: -128px -768px; }
.mc-icon-372-0 { background-position: -160px -768px; }
.mc-icon-374-0 { background-position: -192px -768px; }
.mc-icon-375-0 { background-position: -224px -768px; }
.mc-icon-376-0 { background-position: -256px -768px; }
.mc-icon-377-0 { background-position: -288px -768px; }
.mc-icon-378-0 { background-position: -320px -768px; }
.mc-icon-379-0 { background-position: -352px -768px; }
.mc-icon-380-0 { background-position: -384px -768px; }
.mc-icon-381-0 { background-position: -416px -768px; }
.mc-icon-382-0 { background-position: -448px -768px; }
.mc-icon-384-0 { background-position: -480px -768px; }
.mc-icon-385-0 { background-position: -0px -800px; }
.mc-icon-386-0 { background-position: -32px -800px; }
.mc-icon-387-0 { background-position: -64px -800px; }
.mc-icon-388-0 { background-position: -96px -800px; }
.mc-icon-389-0 { background-position: -128px -800px; }
.mc-icon-390-0 { background-position: -160px -800px; }
.mc-icon-391-0 { background-position: -192px -800px; }
.mc-icon-392-0 { background-position: -224px -800px; }
.mc-icon-393-0 { background-position: -256px -800px; }
.mc-icon-394-0 { background-position: -288px -800px; }
.mc-icon-395-0 { background-position: -320px -800px; }
.mc-icon-396-0 { background-position: -352px -800px; }
.mc-icon-397-0 { background-position: -384px -800px; }
.mc-icon-397-1 { background-position: -416px -800px; }
.mc-icon-397-2 { background-position: -448px -800px; }
.mc-icon-397-3 { background-position: -480px -800px; }
.mc-icon-397-4 { background-position: -0px -832px; }
.mc-icon-398-0 { background-position: -32px -832px; }
.mc-icon-399-0 { background-position: -64px -832px; }
.mc-icon-400-0 { background-position: -96px -832px; }
.mc-icon-401-0 { background-position: -128px -832px; }
.mc-icon-403-0 { background-position: -160px -832px; }
.mc-icon-404-0 { background-position: -192px -832px; }
.mc-icon-405-0 { background-position: -224px -832px; }
.mc-icon-406-0 { background-position: -256px -832px; }
.mc-icon-407-0 { background-position: -288px -832px; }
.mc-icon-408-0 { background-position: -320px -832px; }
.mc-icon-417-0 { background-position: -352px -832px; }
.mc-icon-418-0 { background-position: -384px -832px; }
.mc-icon-419-0 { background-position: -416px -832px; }
.mc-icon-420-0 { background-position: -448px -832px; }
.mc-icon-421-0 { background-position: -480px -832px; }
.mc-icon-422-0 { background-position: -0px -864px; }
.mc-icon-2256-0 { background-position: -32px -864px; }
.mc-icon-2257-0 { background-position: -64px -864px; }
.mc-icon-2258-0 { background-position: -96px -864px; }
.mc-icon-2259-0 { background-position: -128px -864px; }
.mc-icon-2260-0 { background-position: -160px -864px; }
.mc-icon-2261-0 { background-position: -192px -864px; }
.mc-icon-2262-0 { background-position: -224px -864px; }
.mc-icon-2263-0 { background-position: -256px -864px; }
.mc-icon-2264-0 { background-position: -288px -864px; }
.mc-icon-2265-0 { background-position: -320px -864px; }
.mc-icon-2266-0 { background-position: -352px -864px; }
.mc-icon-2267-0 { background-position: -384px -864px; }

.mc-icon-6-0 { background-position: -0px -896px; }
.mc-icon-6-1 { background-position: -32px -896px; }
.mc-icon-6-2 { background-position: -64px -896px; }
.mc-icon-6-3 { background-position: -96px -896px; }
.mc-icon-6-4 { background-position: -128px -896px; }
.mc-icon-6-5 { background-position: -160px -896px; }
.mc-icon-8-0 { background-position: -192px -896px; }
.mc-icon-9-0 { background-position: -224px -896px; }
.mc-icon-10-0 { background-position: -256px -896px; }
.mc-icon-11-0 { background-position: -288px -896px; }
.mc-icon-27-0 { background-position: -320px -896px; }
.mc-icon-28-0 { background-position: -352px -896px; }
.mc-icon-30-0 { background-position: -384px -896px; }
.mc-icon-31-0 { background-position: -416px -896px; }
.mc-icon-31-1 { background-position: -448px -896px; }
.mc-icon-31-2 { background-position: -480px -896px; }
.mc-icon-31-3 { background-position: -0px -928px; }
.mc-icon-32-0 { background-position: -32px -928px; }
.mc-icon-37-0 { background-position: -64px -928px; }
.mc-icon-38-0 { background-position: -96px -928px; }
.mc-icon-38-1 { background-position: -128px -928px; }
.mc-icon-38-2 { background-position: -160px -928px; }
.mc-icon-38-3 { background-position: -192px -928px; }
.mc-icon-38-4 { background-position: -224px -928px; }
.mc-icon-38-5 { background-position: -256px -928px; }
.mc-icon-38-6 { background-position: -288px -928px; }
.mc-icon-38-7 { background-position: -320px -928px; }
.mc-icon-38-8 { background-position: -352px -928px; }
.mc-icon-39-0 { background-position: -384px -928px; }
.mc-icon-40-0 { background-position: -416px -928px; }
.mc-icon-50-0 { background-position: -448px -928px; }
.mc-icon-51-0 { background-position: -480px -928px; }
.mc-icon-65-0 { background-position: -0px -960px; }
.mc-icon-66-0 { background-position: -32px -960px; }
.mc-icon-69-0 { background-position: -64px -960px; }
.mc-icon-76-0 { background-position: -96px -960px; }
.mc-icon-90-0 { background-position: -128px -960px; }
.mc-icon-101-0 { background-position: -160px -960px; }
.mc-icon-102-0 { background-position: -192px -960px; }
.mc-icon-106-0 { background-position: -224px -960px; }
.mc-icon-111-0 { background-position: -256px -960px; }
.mc-icon-119-0 { background-position: -288px -960px; }
.mc-icon-127-0 { background-position: -320px -960px; }
.mc-icon-131-0 { background-position: -352px -960px; }
.mc-icon-141-0 { background-position: -384px -960px; }
.mc-icon-142-0 { background-position: -416px -960px; }
.mc-icon-157-0 { background-position: -448px -960px; }
.mc-icon-160-0 { background-position: -480px -960px; }
.mc-icon-160-1 { background-position: -0px -992px; }
.mc-icon-160-2 { background-position: -32px -992px; }
.mc-icon-160-3 { background-position: -64px -992px; }
.mc-icon-160-4 { background-position: -96px -992px; }
.mc-icon-160-5 { background-position: -128px -992px; }
.mc-icon-160-6 { background-position: -160px -992px; }
.mc-icon-160-7 { background-position: -192px -992px; }
.mc-icon-160-8 { background-position: -224px -992px; }
.mc-icon-160-9 { background-position: -256px -992px; }
.mc-icon-160-10 { background-position: -288px -992px; }
.mc-icon-160-11 { background-position: -320px -992px; }
.mc-icon-160-12 { background-position: -352px -992px; }
.mc-icon-160-13 { background-position: -384px -992px; }
.mc-icon-160-14 { background-position: -416px -992px; }
.mc-icon-160-15 { background-position: -448px -992px; }
.mc-icon-175-0 { background-position: -480px -992px; }
.mc-icon-175-1 { background-position: -0px -1024px; }
.mc-icon-175-2 { background-position: -32px -1024px; }
.mc-icon-175-3 { background-position: -64px -1024px; }
.mc-icon-175-4 { background-position: -96px -1024px; }
.mc-icon-175-5 { background-position: -128px -1024px; }

.mc-icon-298-0 { background-position: -0px -1056px; }
.mc-icon-299-0 { background-position: -32px -1056px; }
.mc-icon-230-0 { background-position: -64px -1056px; }
.mc-icon-231-0 { background-position: -96px -1056px; }
.mc-icon-373-0-0 { background-position: -128px -1056px; }
.mc-icon-373-1-0 { background-position: -160px -1056px; }
.mc-icon-373-2-0 { background-position: -192px -1056px; }
.mc-icon-373-3-0 { background-position: -224px -1056px; }
.mc-icon-373-4-0 { background-position: -256px -1056px; }
.mc-icon-373-5-0 { background-position: -288px -1056px; }
.mc-icon-373-6-0 { background-position: -320px -1056px; }
.mc-icon-373-7-0 { background-position: -352px -1056px; }
.mc-icon-373-8-0 { background-position: -384px -1056px; }
.mc-icon-373-9-0 { background-position: -416px -1056px; }
.mc-icon-373-10-0 { background-position: -448px -1056px; }
.mc-icon-373-11-0 { background-position: -480px -1056px; }
.mc-icon-373-12-0 { background-position: -0px -1088px; }
.mc-icon-373-13-0 { background-position: -32px -1088px; }
.mc-icon-373-14-0 { background-position: -64px -1088px; }
.mc-icon-373-15-0 { background-position: -96px -1088px; }
.mc-icon-373-16-0 { background-position: -128px -1088px; }
.mc-icon-373-17-0 { background-position: -160px -1088px; }
.mc-icon-373-18-0 { background-position: -192px -1088px; }
.mc-icon-373-19-0 { background-position: -224px -1088px; }
.mc-icon-373-20-0 { background-position: -256px -1088px; }
.mc-icon-373-21-0 { background-position: -288px -1088px; }
.mc-icon-373-22-0 { background-position: -320px -1088px; }
.mc-icon-373-23-0 { background-position: -352px -1088px; }
.mc-icon-373-0-1 { background-position: -384px -1088px; }
.mc-icon-373-1-1 { background-position: -416px -1088px; }
.mc-icon-373-2-1 { background-position: -448px -1088px; }
.mc-icon-373-3-1 { background-position: -480px -1088px; }
.mc-icon-373-4-1 { background-position: -0px -1120px; }
.mc-icon-373-5-1 { background-position: -32px -1120px; }
.mc-icon-373-6-1 { background-position: -64px -1120px; }
.mc-icon-373-7-1 { background-position: -96px -1120px; }
.mc-icon-373-8-1 { background-position: -128px -1120px; }
.mc-icon-373-9-1 { background-position: -160px -1120px; }
.mc-icon-373-10-1 { background-position: -192px -1120px; }
.mc-icon-373-11-1 { background-position: -224px -1120px; }
.mc-icon-373-12-1 { background-position: -256px -1120px; }
.mc-icon-373-13-1 { background-position: -288px -1120px; }
.mc-icon-373-14-1 { background-position: -320px -1120px; }
.mc-icon-373-15-1 { background-position: -352px -1120px; }
.mc-icon-373-16-1 { background-position: -384px -1120px; }
.mc-icon-373-17-1 { background-position: -416px -1120px; }
.mc-icon-373-18-1 { background-position: -448px -1120px; }
.mc-icon-373-19-1 { background-position: -480px -1120px; }
.mc-icon-373-20-1 { background-position: -0px -1152px; }
.mc-icon-373-21-1 { background-position: -32px -1152px; }
.mc-icon-373-22-1 { background-position: -64px -1152px; }
.mc-icon-373-23-1 { background-position: -96px -1152px; }
.mc-icon-383-0 { background-position: -128px -1152px; }
.mc-icon-383-50 { background-position: -160px -1152px; }
.mc-icon-383-51 { background-position: -192px -1152px; }
.mc-icon-383-52 { background-position: -224px -1152px; }
.mc-icon-383-54 { background-position: -256px -1152px; }
.mc-icon-383-55 { background-position: -288px -1152px; }
.mc-icon-383-56 { background-position: -320px -1152px; }
.mc-icon-383-57 { background-position: -352px -1152px; }
.mc-icon-383-58 { background-position: -384px -1152px; }
.mc-icon-383-59 { background-position: -416px -1152px; }
.mc-icon-383-60 { background-position: -448px -1152px; }
.mc-icon-383-61 { background-position: -480px -1152px; }
.mc-icon-383-62 { background-position: -0px -1184px; }
.mc-icon-383-65 { background-position: -32px -1184px; }
.mc-icon-383-66 { background-position: -64px -1184px; }
.mc-icon-383-90 { background-position: -96px -1184px; }
.mc-icon-383-91 { background-position: -128px -1184px; }
.mc-icon-383-92 { background-position: -160px -1184px; }
.mc-icon-383-93 { background-position: -192px -1184px; }
.mc-icon-383-94 { background-position: -224px -1184px; }
.mc-icon-383-95 { background-position: -256px -1184px; }
.mc-icon-383-96 { background-position: -288px -1184px; }
.mc-icon-383-98 { background-position: -320px -1184px; }
.mc-icon-383-100 { background-position: -352px -1184px; }
.mc-icon-383-120 { background-position: -384px -1184px; }
.mc-icon-402-0 { background-position: -416px -1184px; }
